$color: #ffcc80;
.header-component{
    background-color: #efefef;
    .container-header{
        --background: #efefef;
        .btn-hamburguer{
            --color: #ffcc80;
            margin-left: 1rem;
            --padding-start: 0px;
            --padding-end: 0px;
        }
        .btn-cart{
            --color: #efefef;
            background: $color;
            margin-right: 1rem;
            border-radius: 10px;
        }
    } 
}
.container{
    --background: #efefef;
    .presupuesto{
        width: 100%;
        padding: 1rem 1.5rem .1rem 1.5rem;
        .input-presupuesto{
            width: 100%;
            border-radius: 10px;
            background-color: #fff;
            --padding-start: 1rem;
            --padding-end: 1rem;
            font-family: 'Roboto Slab';
        }
    }
    .productos{

    }
    .presupuesto-restante{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        .grid{
            .row{
                .col{
                    &.col-valor{
                        .restante{
                            display: flex;
                            flex-direction: column;
                            .title{
                                color: #111;
                                font-weight: 500;
                            }
                        }
                    }
                    &.col-btn-todos{
                        .container-btn-apps{
                            position: relative;
                            .btn-apps{
                                background-color: $color;
                                border-radius: 10px;
                                position: absolute;
                                right: 0;
                                top: 0;
                                .icon{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}