<ion-header [translucent]="true" class="header-component ion-no-border">
    <ion-toolbar class="container-header">
        <ion-buttons slot="start">
            <ion-menu-button class="btn-hamburguer"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="btn-cart"
                ><ion-icon name="cart-outline"></ion-icon
            ></ion-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" class="container" slot="fixed">
    <div class="presupuesto">
        <ion-input
            placeholder="Ingrese su presupuesto"
            class="input-presupuesto"
        >
            <ion-buttons class="c-buttons" slot="end">
                <ion-button class="button">
                    <ion-icon
                        name="cash-outline"
                        class="icon"
                    ></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-input>
    </div>
    <div class="productos">
        <app-productos></app-productos>
    </div>
    <div class="presupuesto-restante">
        <ion-grid class="grid">
            <ion-row class="row">
                <ion-col class="col col-valor" size="9">
                    <div class="restante">
                        <span class="title">Cuanto me queda?</span>
                        <span class="valor">$</span>
                    </div>
                </ion-col>
                <ion-col class="col col-btn-todos" size="3">
                    <ion-buttons class="container-btn-apps">
                        <ion-button class="btn-apps" slot="end"
                            ><ion-icon class="icon" name="apps-outline"></ion-icon
                        ></ion-button>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-grid>
        
    </div>
</ion-content>
