.container-products{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(60vh);
    .slides-all{
        //margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .slide-item{
            max-width: 100%;
            .card{
                background-color: #ffcc80;
                border-radius: 10px;
                width: 100%;
                .container-img{
                    width: 100%;
                    position: relative;
                    height: 240px !important;
                    margin-bottom: 1rem;
                    overflow: hidden;
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    flex-flow: column wrap;
                    -webkit-box-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    .image{
                        width: 70%;
                        position: relative;
                        .img{
                            width: 300px;
                            height: auto;
                        }
                    }
                }
                
                .card-header{
                    padding-top: 0;
                    .card-title{
                        font-size: 1rem;
                        text-transform: capitalize;
                        text-align: left;
                        font-family: 'Roboto Slab';
                        font-weight: 400;
                    }
                }
                .card-body{
                    .container-card-body{
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .precio{
                            font-size: 1.5rem;
                            font-family: 'Roboto Slab';
                            color: #333;
                        }
                        .icon{
                            color: #ffffff;
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
    }
}