$color: #ffcc80;
.header-component{
    background-color: #efefef;
    .container-header{
        --background: #efefef;
        .btn-back{
            --color:#ffcc80;
            margin-left: 1rem;
            --padding-start: 0px;
            --padding-end: 0px;
        }
        .total{
            padding-right: 2rem;
        }
        
    } 
}
.container{
    --background: #efefef;
    position: relative;
    .container-products-cart{
        .list{
            background: transparent;
            .item{
                --background: transparent;
                --padding-start: 1.5rem;
                --padding-end: 1.5rem;
                .grid{
                    .row{
                        .col{
                            display: flex;
                            align-items: center;
                            &.col-info{
                                .info{
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    .nombre-producto{
                                        width: 100%;
                                        display: block;
                                        text-align: right;
                                        margin-bottom: 1rem;
                                        font-family: 'Roboto Slab', serif;
                                        font-family: .8rem;
                                    }
                                    .valores{
                                        width: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        .valor{
                                            font-family: 'Roboto Slab', serif;
                                            font-size: 1.3rem;
                                            .badge {
                                                --background: #ffcc80;
                                                --color: #111;
                                                --padding-top: 3px;
                                                --padding-end: 5px;
                                                --padding-bottom: 3px;
                                                --padding-start: 5px;
                                                border-radius: 50px;
                                                min-width: 20px;
                                                min-height: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .container-btn{
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 1rem 1.5rem;
            background-color: #efefef;
            .btn-shoping{
                --background: #ffcc80;
                text-transform: uppercase;
                color: #fff;
            }
        }
    }
}